<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <oxipay_gateway>                
                <active>1</active>
                <model>Oxipay\OxipayPaymentGateway\Model\Oxipay</model>                
                <order_status>complete</order_status>               
                <title>Oxipay Payment Gateway</title>
                <description>You will be redirected to Oxipay to complete your payment.</description>
                <test_mode>1</test_mode>
                <gateway_redirect_url>https://xpozsecure.certegyezipay.com.au/Checkout?platform=Magento</gateway_redirect_url>
                <gateway_url>https://xpozsecure.certegyezipay.com.au/Checkout?platform=Magento</gateway_url>
                <group>oxipay</group>                
            </oxipay_gateway>
        </payment>
    </default>
</config>
