<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="OxipayPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Oxipay\OxipayPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Oxipay\OxipayPaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OxipayPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">OxipayPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="OxipayPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Oxipay\OxipayPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with OxipayPaymentGatewayConfig -->
    <virtualType name="OxipayPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">OxipayPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>
	
	<!-- HTTP Client -->
	<virtualType name="Oxipay\OxipayPaymentGateway\Gateway\Http\Client\ZendClientFactory" type="Magento\Framework\HTTP\ZendClientFactory">
        <arguments>
            <argument name="timeout" xsi:type="string">60</argument>
        </arguments>
    </virtualType>

    <type name="Oxipay\OxipayPaymentGateway\Gateway\Http\Client\OxipayClient">
        <arguments>
            <argument name="logger" xsi:type="object">OxipayPaymentGatewayLogger</argument>
			<argument name="clientFactory" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Http\Client\ZendClientFactory</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="OxipayPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">OxipayPaymentGatewayAuthorizeCommand</item>
<!--                 <item name="capture" xsi:type="string">OxipayPaymentGatewayCaptureCommand</item>
                <item name="void" xsi:type="string">OxipayPaymentGatewayVoidCommand</item> -->
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="OxipayPaymentGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OxipayPaymentGatewayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Http\Client\OxipayClient</argument>
			<argument name="validator" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="OxipayPaymentGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Oxipay\OxipayPaymentGateway\Gateway\Request\AuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Oxipay\OxipayPaymentGateway\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">OxipayPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="OxipayPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OxipayPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="OxipayPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OxipayPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Oxipay\OxipayPaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">OxipayPaymentGatewayConfig</argument>
        </arguments>
    </type>
	
	<type name="Oxipay\OxipayPaymentGateway\Controller\Outbound\Redirect">
		<arguments>
			<argument name="context" xsi:type="object">Magento\Framework\App\Action\Context</argument>
			<argument name="rawresult" xsi:type="object">Magento\Framework\Controller\Result\Raw</argument>
			<argument name="authorizationrequest" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Request\AuthorizationRequest</argument>
			<argument name="orderfactory" xsi:type="object">Magento\Sales\Model\OrderFactory</argument>
			<argument name="config" xsi:type="object">OxipayPaymentGatewayConfig</argument>
		</arguments>
	</type>

</config>
