<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="OxipayPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Oxipay\OxipayPaymentGateway\Gateway\Config\Config::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Oxipay\OxipayPaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OxipayPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">OxipayPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Oxipay\OxipayPaymentGateway\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Oxipay\OxipayPaymentGateway\Gateway\Config\Config::CODE</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="OxipayPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">OxipayPaymentGatewayInitializeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Initialize command -->
    <virtualType name="OxipayPaymentGatewayInitializeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OxipayPaymentGatewayInitializationRequest</argument>
            <argument name="transferFactory" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Http\DummyTransferFactory</argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR!Cannot instantiate interface Magento\Payment\Gateway\Http\TransferFactoryInterface if empty -->
            <argument name="client" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Http\Client\DummyClient</argument> <!-- [Payment/Model/Method/Adapter][executeCommand]ERROR getting command!Cannot instantiate interface Magento\Payment\Gateway\Http\ClientInterface if empty-->
        </arguments>
    </virtualType>

    <!-- Initialization Request -->
    <virtualType name="OxipayPaymentGatewayInitializationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Oxipay\OxipayPaymentGateway\Gateway\Request\InitializationRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Oxipay\OxipayPaymentGateway\Gateway\Request\InitializationRequest">
        <arguments>
            <argument name="config" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="OxipayPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OxipayPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="OxipayPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="Oxipay\OxipayPaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">Oxipay\OxipayPaymentGateway\Gateway\Config\Config</argument>
        </arguments>
    </type>

</config>
